body {
    background-color: yellow;
}

.gifDiv {
    height: 300px;
    width: 300px;
    margin: 0 auto;
}

.gif

.cartoon-display
{
    align-content: center;
}

.title {
    font-family: 'Cabin Sketch', cursive;
    text-align: center;
    font-size: 45px;

}
