body {
    background-color: yellow;
}

.gifDiv {
    height: 300px;
    width: 300px;

}

.cartoon-display
{
    align-content: flex-start;
}

.title {
    font-family: 'Cabin Sketch', cursive;
    text-align: center;

}
